@import "~bootstrap/scss/bootstrap.scss";

.id {
    width: 50px;
}

.bg--negro{
    background-color: rgb(219, 15, 49);
    color: white
}

.oscuro{
    background-color: #202121;
}
body{
    background-color: #202121;
}
.table{
    margin-bottom: 0px;
}
.border-top{
    border-color: #585858 !important;
}
.botones{
    font-size: 20px;
    position: sticky;
    bottom: 0px;
}